# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.

* @fmvilas @derberg @dalelane @char0n @GreenRover @jonaslagoni @pakisan @asyncapi-bot-eve

/draft-07/bindings/amazon-sns/    @dpwdec @iancooper
/draft-07/bindings/amazon-sqs/    @dpwdec @iancooper
/draft-07/bindings/anypointmq/    @mboss37 @GeraldLoeffler
/draft-07/bindings/apache-kafka/  @lbroudoux @dalelane
/draft-07/bindings/apache-pulsar/ @VisualBean
/draft-07/bindings/googlepubsub/  @whitlockjc
/draft-07/bindings/ibmmq/         @rcoppen
/draft-07/bindings/jms/           @rcoppen @SrfHead
/draft-07/bindings/ros2/          @gramss @amparosancho
/draft-07/bindings/solace/        @damaru-inc @CameronRushton

/draft-07/bindings/*.json        @KhudaDad414
